<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Chuck API" %></h2>
  <p class="lead">Info will be updated each 5 min using channels</p>
</div
<div>
  <%= inspect jokes %>
</div>

